<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance
    http://www.springmodules.org/schema/cache/springmodules-cache.xsd 
    http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Spring3MVC</display-name>
    <servlet>
    
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!-- load-on-startup：表示启动容器时初始化该Servlet； -->
    <load-on-startup>1</load-on-startup>
    
    </servlet>
    
    <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <!-- url-pattern：表示哪些请求交给Spring Web MVC处理， “/” 是用来定义默认servlet映射的。 -->
    <!-- 也可以如“*.html”表示拦截所有以html为扩展名的请求。 -->
    <url-pattern>/</url-pattern>
    </servlet-mapping>
     
    <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- 自此请求已交给Spring Web MVC框架处理，因此我们需要配置Spring的配置文件， -->
    <!-- 默认DispatcherServlet会加载WEB-INF/[DispatcherServlet的Servlet名字,也就是上面的spring]-servlet.xml配置文件。 -->
    <!-- 即spring-servlet.xml -->
    <absolute-ordering/>
</web-app>